* {
  box-sizing: border-box;
}

.text-style {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;;
  font-size: 12px;
  color: #000000;
  letter-spacing: 3.5px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.site-title {
  position: fixed;
  top: 30px;
  left: 50%;
  width: 200px;
  margin-left: -100px;
}

.left {
  transform: rotate(-90deg);
  position: fixed;
  left: -110px;
  top: 50%;
  margin: 0;
}

.right {
  transform: rotate(90deg);
  position: fixed;
  right: -110px;
  top: 50%;
  margin: 0;
}

.twitter {
  position: fixed;
  bottom: 30px;
  left: 30px;
}

.submit {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

a {
  text-decoration: none;
  color: black;
  transition: 0.2s;
}

a:hover {
  color: blue;
}

// start grid
section {
  max-width: 94%;
  margin: 65px auto;
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}
section div {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 30%;
  margin: .5vw;
}
section div img {
  width: 100%;
  height: auto;
}


// end grid
